{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% load staticfiles %}

{% block extra_script%}
<script src="{% static "js/editProduct.js" %}"></script>
{% endblock %}

{% block body %}

{% if user.is_authenticated %}

<div id="sub_nav" class="navbar">
    <div class="navbar-inner">
	{% include "menu.html" %}
	<div class="span12 columns" >

	    <h3>Edit and details for product</h3>
	    <form method="post" id="editProductForm" enctype="multipart/form-data" action="">
		{% csrf_token %}

		<input type="hidden" name="id" value="{{ productId }}">
		<table class="table">
		    {{ form.as_table }}
		    <tr>
			<th>
			    <label>Uploaded images</label>
			</th>
			<td id="imageTd">
			    <div id="imageGallery" class="carousel slide">

				<div class="carousel-inner">
				</div>  
			    </div>

			    <div id="imageContainer">
				
			    </div>
			    
			</td>
		    </tr>
		</table>
		<button type="submit" class="btn btn-primary">
		    <i class="icon-ok icon-white"></i> Save
		</button>
	    </form>
	</div>

    </div>
</div>

{% endif %}
{% endblock %}
